@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div style="text-align: left">
        <h5>We need to support more operators like Substract, Multiply and Divide.</h5>
        <ul>
            <li>add the new operators</li>
            <li>register them in Startup.cs</li>
            <li>call operators using the mathStrategy from their coresponding action in HomeController</li>
            <li>if you click on the corresponding links above you should see the proper result</li>
        </ul>
    </div>    
</div>
